@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open Sans, sans-serif;
    font-weight: 300;
}

/* Heading and Logo */


#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
    margin-top: 15px;
}

h1, h2 {
    font-family: Amiri, sans-serif; 
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

/* Navigation Links */

#menu {
    font-size: 120%;
    letter-spacing: 3px;
    margin-right: 40px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}