@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open Sans, sans-serif;
    font-weight: 300;
}

/* Heading and Logo */

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
    margin-top: 10px;
}

h1, h2, h3 {
    font-family: Amiri, sans-serif; 
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3f3f3f;
}

/* Navigation Links */

#menu {
    font-size: 120%;
    letter-spacing: 3px;
    margin-right: 40px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* Landing Page Image */

#landing-image {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* History */

hr {
    border-top: 1px;
    width: 100%;
    margin: 5px 0;
}

.history h2 {
    font-size: 280%;
    text-align: center;
    margin-top: 50px;
}

.history p {
    font-size: 125%;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#history-image {
    width: 500px;
    height: 500px;
    margin: 30px 30px 30px 30px;
    float: right;
    
}

/* Banner Image */

.banner-image {
    margin-top: 50px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner-class {
    position: relative;
    width: 100%;
}

.banner-overlay {
    position: absolute;
    margin-top: 66.5px;
    top: 0;
    left: 0;
    width: 100%;
    height: 360px;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: Amiri, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.banner-overlay:hover {
    opacity: 1;
}

.banner-title {
    font-size: 50px;

}

.banner-description {
    font-size: 30px;
}




/* Visit Us*/

#visit-us {
    font-size: 280%;
    text-align: center;
    margin-top: 50px;
}

#map {
    width: 50%;
    height: 815px;
    float: left;
    margin: 50px 0 70px 60px;
}

.admission {
    font-size: 200%;
    float: right;
    margin: 75px 210px 0px 0px;
}

#admission-list {
    font-size: 125%;
    list-style: none;
    float: right;
    margin: 15px 334px 0px 0px;
}

.opening-times {
    font-size: 200%;
    float: right;
    margin: 75px 225px 0px 0px;
}

#opening-list {
    font-size: 125%;
    list-style: none;
    float: right;
    margin: 15px 366px 0px 0px;
}

.facilities {
    font-size: 200%;
    float: right;
    margin: 75px 361px 0px 0px;
}

#facility-list {
    font-size: 125%;
    list-style: none;
    float: right;
    margin: 15px 306px 0px 0px;
}

/* Contact */

#contact-image {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

#contact-title {
    font-size: 280%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#contact-box {
    vertical-align: top;
    display: inline-block;
    width: 33%;
    border: white .1px solid;
    margin-bottom: 30px;
}

#contact-box h3 {
    font-size: 200%;
    text-align: center;
    color: rgb(47, 82, 56);
}

#contact-box p {
    font-size: 125%;
    text-align: center;
}

#contact-box li {
    font-size: 125%;
    text-align: center;
    margin-bottom: 10px;
    list-style: none;
}

/* Footer */

footer {
    height: 125px;
}

.social-networks {
    text-align: center;
    word-spacing: 160px;
    margin-top: 45px;
    margin-bottom: 450px;
}

.social-networks > li {
    display: inline-block;
}

.social-networks i {
    font-size: 240%;
    margin: 1%;
    padding: 5%;
}

#facebook {
    color: rgb(66,103,178);
}

#instagram {
    color: rgb(245,96,64);
}

#twitter {
    color: rgb(29,161,242);
}

#youtube {
    color: rgb(255,0,0);
}

/* Competition */

#winter-image {
    width: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#competition-title {
    font-size: 280%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}



