@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open Sans, sans-serif;
    font-weight: 300;
}

/* Heading and Logo */

#logo {
    float: left;
    font-size: 280%;
    margin: 10px 30px 10px 30px;
    font-family: Amiri, sans-serif; 
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3f3f3f;
    line-height: 70px;
}

h1, h2, h3 {
    font-family: Amiri, sans-serif; 
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3f3f3f;
}

/* Navigation Links */

nav {
    position: fixed;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 85px;
    background-color: white;
}


#menu {
    font-size: 120%;
    letter-spacing: 3px;
    margin-right: 20px;
    margin-left: 40px;
    line-height: 80px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border: 1.5px groove #3f3f3f;
}

/* Landing Page Image */

#landing-image {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 80px;
}

/* History */

hr {
    border-top: 1px;
    width: 100%;
    margin: 5px 0;
}

.history h2 {
    font-size: 280%;
    text-align: center;
    margin-top: 50px;
}

.history p {
    font-size: 125%;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#history-image {
    width: 500px;
    height: 500px;
    margin: 30px 30px 30px 30px;
    float: right;
    
}

/* Banner Image */

.banner-image {
    margin-top: 50px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

/* Visit Us*/

#visit-us {
    font-size: 280%;
    text-align: center;
    margin-top: 50px;
}

#map {
    width: 50%;
    height: 580px;
    float: left;
    margin: 50px 75px 60px 60px;
}

.visit-list {
    width: 90%;
}

.admission {
    font-size: 200%;
    text-align: right;
    margin: 40px 50px 0px 30px;
}

#admission-list {
    font-size: 125%;
    list-style: none;
    text-align: right;
    margin: 10px 50px 30px 30px;
}

.opening-times {
    font-size: 200%;
    text-align: right;
    margin: 0px 50px 0px 30px;
}

#opening-list {
    font-size: 125%;
    list-style: none;
    text-align: right;
    margin: 10px 50px 30px 30px;
}

.facilities {
    font-size: 200%;
    text-align: right;
    margin: 0px 50px 0px 30px;
}

#facility-list {
    font-size: 125%;
    list-style: none;
    text-align: right;
    margin: 10px 50px 50px 30px;
}

/* Contact */

#contact-image {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 30px;
}

#contact {
    display: block;
}

#contact-title {
    font-size: 280%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 35px;
}

.phone {
    font-size: 200%;
    float: none;
    text-align: center;
}

#phone-list {
    font-size: 125%;
    list-style: none;
    float: none;
    text-align: center;
    margin-bottom: 40px;
}

.address {
    font-size: 200%;
    float: none;
    text-align: center;
}

#address-list {
    font-size: 125%;
    list-style: none;
    float: none;
    text-align: center;
    margin-bottom: 40px

}

.email {
    font-size: 200%;
    float: none;
    text-align: center;
}

#email-list {
    font-size: 125%;
    list-style: none;
    float: none; 
    text-align: center;
    margin-bottom: 70px
}



/* Footer */

footer {
    height: 80px;
}

.social-networks {
    text-align: center;
    word-spacing: 160px;
}

.social-networks > li {
    display: inline-block;
}

.social-networks i {
    font-size: 240%;
    margin: 1%;
    padding: 5%;
}

#facebook {
    color: rgb(66,103,178);
}

#instagram {
    color: rgb(245,96,64);
}

#twitter {
    color: rgb(29,161,242);
}

#youtube {
    color: rgb(255,0,0);
}

/* Competition */

#winter-image {
    width: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#competition-title {
    font-size: 280%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}

/* Media Queries */

/* Larger to Medium - 1200px wide and down */

@media screen and (max-width: 1200px) {
    
    #map {
        height: 700px;
    }
    
    #contact {
        width: 65%;
        height: 610px;
        margin: 0 auto;
    }

}

@media screen and (max-width: 1070px) {
    
    #logo {
        float: left;
        margin: 10px 0px 10px 30px;
        text-decoration: none;
        width: 100%;
    }

    #menu {
        display: block;
        text-align: left;
        margin-top: -40px;
        margin-left: 30px;
    }
}

/* Medium Screen Size - 965 and below */ 

@media screen and (max-width: 965px) {
    #map {
        height: 350px;
        width: 100%;
        margin: 30px 0 50px 0;
    }

    .visit-list {
        width: 100%;
    }

    .admission, .opening-times, .facilities {
        text-align: center;
    }

    #admission-list, #opening-list, #facility-list {
        text-align: center;
    }
}

@media screen and (max-width: 800px) {

    .history {
        text-align: center;
    }

    .history p {
        margin-right: 30px;
        margin-left: 30px;
    }

    #history-image {
        width: 75%;
        height: 75%;
        float: inherit;
        margin: 30px 30px 30px 30px;
        position: relative;
    }
}

@media screen and (max-width: 655px) {

    .social-networks {
        text-align: center;
        word-spacing: 80px;
    }

    .social-networks i {
        font-size: 240%;
        margin: 1%;
        padding: 5%;
    }
}

@media screen and (max-width: 630px) {
    #logo {
        float: left;
        margin: 10px 0px 10px 30px;
        text-decoration: none;
        width: 100%;
    }

    #menu {
        clear: left;
    }
}

@media screen and (max-width: 395px) {
    .social-networks {
        text-align: center;
        word-spacing: 40px;
    }

    .social-networks i {
        font-size: 160%;
        margin: 1%;
        padding: 5%;
    }
}

